{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Tarjeta para el saludo de bienvenida -->
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Bienvenido, {{ request.user.username }}</h2>
        </div>
        <div class="card-body">
            <p class="lead">Estamos encantados de verte nuevamente. Explora nuestras características y recursos disponibles.</p>
            <hr>
            <a href="{% url 'logout' %}" class="btn btn-danger btn-lg">Logout</a>
        </div>
    </div>
</div>
{% endblock %}

