{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Tarjeta para el formulario de Login -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="mb-0">Login</h2>
                </div>
                <div class="card-body">
                    <!-- Formulario de Login -->
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">
                        <a href="{% url 'register' %}" class="text-primary">Don't have an account? Register here.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
