<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}">Portafolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Crear Cuenta</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'producto_list' %}">Crear Productos</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reporte_ventas' %}">Consultas a la Base de Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contacto' %}">Contáctame</a>
            </li>
            <!-- Agrega más enlaces según sea necesario -->
        </ul>
        <span class="navbar-text ml-auto">
            {% if user.is_authenticated %}
            Hola, {{ user.username }}!
            <a href="{% url 'logout' %}" class="btn btn-link">Cerrar Sesión</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-link">Iniciar Sesión</a>
            {% endif %}
        </span>
    </div>
</nav>